
.app {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar-wrapper {
  flex: 0 0 200px;
  top: 0;
  left: 0;
  height: 100vh;
  background-color:#444AF0;
  color: #FCFCFE;
  /* border-radius: 25px; */
}

.main-wrapper {
  flex: 1 0 0;
  background-color: #FCFCFE;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.topbar-wrapper {
  background-color: #FCFCFE;
}

.app-wrapper {
  flex: 1 0 0;
  background-color: #FCFCFE;
}